<!doctype html>
<html lang="zh-cn">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densitydpi=device-dpi" />
    <title>
      {% if pageTitle.length %}  
      {{ pageTitle }}
      {% else %}
      {{ siteName }}
      {% /if %}
    </title>
    {% if post.url.length %}
      <meta name="twitter:card" content="summary_large_image"></meta>
      <meta name="twitter:creator" content="@Astrian_Zheng"></meta>
      <meta property="og:url" content="{{siteURL}}{{ post.url }}" />
      <meta property="og:title" content="{{post.title}}" />
      <meta property="og:description" content="{{post.ext_subtitle}}" />
      <meta property="og:image" content="{{post.ext_featureimg}}" />
      <meta name="twitter:image" content="{{post.ext_featureimg}}">
      <meta name="description" content="{{post.ext_subtitle}}" />
      <meta property="og:site_name" content="{{ siteName }}">
    {% /if %}
    {% if ext_favicon.length %}
      <link rel="icon" href="{{ext_favicon}}">
    {% /if %}
    <link href="atom.xml" rel="alternate" title="{{ siteName }}" type="application/atom+xml">
    <script src="https://cdn.bootcss.com/moment.js/2.24.0/moment.min.js"></script>
    {{siteOther}}

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="asset/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="head">
        <div class="row">
          <div class="col-md-12">
            <div class="blogname">{{ siteName }}</div>
            <nav>
              {% for m in siteMenu %}
                <div class="item"><a target="{{ m.target }}" href="{{ m.url }}">{{ m.name }}</a></div>
              {% /for %}
            </nav>
          </div>
        </div>
      </div>
      <hr>
    </div>