<div class="container">
  <div class="article huge">
    <div class="featureimg" style="background-image: url('{{post.ext_featureimg}}')"></div>
    <img src="{{post.ext_featureimg}}" style="display: none;" class="featureimgforexternal">
    <div class="timeGTM" style="display:none;">{{post.dateGTM}}</div>
    <div class="row content">
      <div class="col-md-2"></div>
      <div class="col-md-10 main">
        <div class="row">
          <div class="col-md-10">
            <div class="post">
              <div class="headline"><a href="{{ post.url }}">{{ post.title }}</a></div>
              <div class="subtitle">{{post.ext_subtitle}}</div>
              <div class="time" id="post">$[timeformat('{{post.dateGTM}}')]</div>
              <div class="body">
                  {{ post.content }}
              </div>
            </div>
            {% if ext_likecoinusername.length %}
              <div class="likecoin" id="likecoinarea">
                <div class="explain">
                  感谢你看到这里！如果你喜欢这篇文章，请在下方为我鼓掌（Like）<br>这样做不仅可以让我获得实质性收入，更可在 liker.land 网站收到我的最新文章更新
                </div>
                <iframe data-v-b66e9a5a="" style="height: 230px;" src="https://button.like.co/in/embed/{{ext_likecoinusername}}/button?referrer={{ siteURL }}{{ post.url }}" frameborder="0" class="lc-margin-top-64 lc-margin-bottom-32 lc-mobile"></iframe>
              </div>
            {% /if %}
            {% if commentAndShareCode.length %}
              <hr>
              <div class="comment">
                  <h1>评论</h1>
                  {{ commentAndShareCode }}
              </div>
            {% /if %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
    let post = new Vue({
     el: '#post',
     data: {},
     methods: {
       timeformat(raw) {
         return moment(raw).format("YYYY 年 MM 月 DD 日");
       }
     },
     delimiters: ['$[', ']']
   })
  </script>