body {
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  font-family: 'Avenir', 'Noto Sans CJK SC', sans-serif;
}

.head {
  padding-top: 60px;
  margin-bottom: 40px;
}

.head .blogname {
  font-size: 60px;
  color: #1a1a1a;
}

.head nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.head nav .item {
  padding: 0px 20px 0px 0px;
  margin: 10px 0px 0px 0px;
  font-size: 20px;
  text-transform: uppercase;
}

.head nav .item a {
  color: rgba(0, 0, 50, 0.3);
  letter-spacing: 5px;
}

.head nav .item a:hover {
  text-decoration: none;
  color: rgba(0, 0, 50, 0.6);
}

.article.huge {
  padding-bottom: 40px;
}

.article.huge img {
  max-width: 100%;
}

.article.huge .featureimg {
  height: 500px;
  background-size: cover;
  background-position: center;
}

.article.huge .content {
  margin-top: -130px;
}

.article.huge .headline {
  font-size: 35px;
}

.article.huge .headline a {
  color: #042f39;
}

.article.huge .headline a:hover {
  color: #042f39;
  text-decoration: none;
}

.article.huge .subtitle {
  font-size: 24px;
  color: rgba(0, 0, 0, 0.4);
}

.article.huge .main {
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  background-color: white;
}

.article.huge .post {
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.article.huge .post p {
  font-size: 18px;
  line-height: 30px;
}

.article.huge .post blockquote {
  padding-left: 14px;
  margin-left: 2px;
  border-left: solid 3px #146679;
}

.article.huge .post blockquote p {
  color: rgba(0, 0, 0, 0.6);
}

.article.huge .post h2 {
  margin-top: 45px;
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 30px;
}

.article.huge .post h3 {
  margin-top: 30px;
  font-size: 24px;
}

.article.huge .post h4 {
  font-size: 22px;
}

.article.huge .post .body pre {
  background-color: #242424;
  color: white;
  border-radius: 4px;
  padding: 8px;
  border: #042f39 1px solid;
  -webkit-box-shadow: inset 0px 1px 5px #000;
          box-shadow: inset 0px 1px 5px #000;
}

.article.huge .post .body ul {
  padding-left: 28px;
  margin-left: 3px;
}

.article.huge .post .body ul li {
  font-size: 18px;
  margin-top: 8px;
}

.article.huge .post .body ol {
  padding-left: 28px;
  margin-left: 3px;
}

.article.huge .post .body ol li {
  font-size: 18px;
  margin-top: 8px;
}

.article.huge .meta {
  font-size: 14px;
  color: #829ba1;
  padding-top: 15px;
  margin-bottom: 8px;
}

.article.huge .meta a {
  color: #829ba1;
  margin-right: 8px;
  text-decoration: underline;
}

.article.huge .tags {
  margin-bottom: 5px;
}

.article.huge .tags .item {
  margin-right: 5px;
}

.article.huge .tags .item a {
  font-size: 14px;
  color: rgba(20, 102, 121, 0.5);
}

.article.huge .tags .item a:hover {
  color: rgba(20, 102, 121, 0.5);
}

.article.huge .body {
  text-align: justify;
}

.article.huge .body a {
  color: #195e72;
}

.article.huge .body sup a {
  color: white;
  background-color: #195e72;
  margin: 0px 4px 0px 2px;
  padding: 0px 4px;
  border-radius: 2px;
}

.article.huge .body sup a:hover {
  text-decoration: none;
}

.article.huge .continue {
  color: white;
  background-color: #146679;
  padding: 8px 20px;
}

.article.huge figure figcaption {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.4);
  padding-top: 4px;
  width: 65%;
  margin-left: 30px;
}

.article figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 2rem;
}

.article .post hr {
  width: 30%;
  border: 0.5px solid rgba(0, 0, 0, 0.1);
  margin-top: 60px;
  margin-bottom: 60px;
}

.article.normal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  padding-bottom: 20px;
}

.article.normal .featureimg {
  height: 280px;
  width: 100%;
  background-size: cover;
  background-position: center;
  margin-bottom: 5px;
}

a.item .article.normal .headline {
  font-size: 28px;
  color: #042f39;
}

a.item .article.normal .subtitle {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.4);
}

a:hover.item {
  text-decoration: none;
}

.pagenavi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pagenavi .item {
  color: rgba(0, 0, 50, 0.3);
  letter-spacing: 5px;
}

.pagenavi .item a {
  color: rgba(0, 0, 50, 0.5);
}

.pagenavi .item a:hover {
  text-decoration: none;
}

.archives h1 small {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.5);
}

.archives .yeartitle {
  margin-top: 32px;
}

.archives article {
  padding: 4px 0px;
}

.archives article a {
  color: #042f39;
}

.archives article a:hover {
  color: #042f39;
  text-decoration: none;
}

.otherposts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#likecoinarea {
  text-align: center;
  color: gray;
}

#likecoinarea a {
  color: gray;
  text-decoration: underline;
}

#likecoinarea a:hover {
  color: gray;
}

.comment h1 {
  font-size: 20px;
}

.footer {
  padding-top: 20px;
  padding-bottom: 40px;
}

.footer .slogan {
  font-size: 30px;
  color: rgba(0, 0, 0, 0.5);
  letter-spacing: 1px;
  padding-bottom: 10px;
}

.footer .meta {
  color: rgba(0, 0, 0, 0.3);
  font-size: 14px;
}

.footer a {
  color: rgba(0, 0, 0, 0.3);
  text-decoration: underline;
}

.footer .colorScheme {
  cursor: default;
}

.footer .colorScheme span {
  cursor: pointer;
}

iframe {
  width: 100%;
  border: none;
}

span.smallcaps {
  font-variant: all-small-caps;
}

#page {
  margin: 40px 0px;
}

#page h1.title {
  font-size: 35px;
  color: #042f39;
  font-weight: 300;
}

#page .content {
  padding-top: 30px;
  font-size: 16px;
}

#page a:hover {
  text-decoration: none;
}

#tags .tagmeta {
  text-align: right;
}

#tags .tagmeta .tagname {
  font-size: 32px;
  color: #042f39;
  color: #c8dce0;
}

#tags .tagmeta .tagdescription {
  margin-top: 12px;
  color: rgba(0, 0, 0, 0.8);
  color: rgba(255, 255, 255, 0.8);
}

#tags .tagmeta .tagpagetitle {
  color: gray;
  font-size: 14px;
  letter-spacing: 3px;
  font-weight: 100;
  color: #cecece;
}

#tags .posts a {
  text-decoration: none;
}

#tags .posts a .post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 8px;
  padding-bottom: 8px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

#tags .posts a .post .postcontent .title {
  color: #c8dce0;
}

#tags .posts a .post .postcontent .subtitle {
  color: rgba(255, 255, 255, 0.5);
}

#tags .posts a:last-child .post {
  padding-bottom: 0px;
  border-bottom: none;
}

#tags .posts .post .featimg {
  width: 200px;
  margin-right: 8px;
  height: 112.5px;
  background-size: cover;
  background-position: center;
}

#tags .posts .post .postcontent {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#tags .posts .post .postcontent .title {
  font-size: 20px;
  color: #042f39;
  margin-bottom: 4px;
}

#tags .posts .post .postcontent .subtitle {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.4);
}

@media (max-width: 767.98px) {
  .head .blogname {
    font-size: 40px;
  }
  .head nav .item {
    font-size: 18px;
    text-transform: uppercase;
  }
  .head nav .item a {
    letter-spacing: 3px;
  }
  .article.huge .featureimg {
    height: 250px;
    margin: 0px -15px;
  }
  .article.huge .content {
    margin-top: 0px;
  }
  .article.huge .headline {
    font-size: 25px;
  }
  .article.huge .subtitle {
    font-size: 20px;
  }
  .article.huge figure figcaption {
    margin-left: 26px;
    font-size: 14px;
    padding-top: 2px;
  }
  .article.huge .post p {
    font-size: 16px;
    line-height: 28px;
  }
  .article.huge .post h2 {
    margin-top: 25px;
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 25px;
  }
  .article.huge .post h3 {
    margin-top: 28px;
    font-size: 22px;
    font-weight: 400;
  }
  .article.huge .post h4 {
    font-size: 20px;
  }
  .article.huge .post .body ul {
    padding-left: 14px;
    margin-left: 3px;
  }
  .article.huge .post .body ul li {
    font-size: 16px;
    line-height: 28px;
  }
  .article.huge .post .body ol {
    padding-left: 14px;
    margin-left: 3px;
  }
  .article.huge .post .body ol li {
    font-size: 16px;
    line-height: 28px;
  }
  .article h2 {
    font-size: 22px;
  }
  figure {
    margin: 0px -15px;
  }
  .article.normal {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    text-align: left;
    border-top: 0.5px solid rgba(0, 0, 0, 0.06);
    border-width: 30%;
    padding: 10px 0px;
  }
  .article.normal .featureimg {
    height: 90px;
    width: 120px;
    background-size: cover;
    background-position: center;
    margin-bottom: 5px;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .article.normal .articleinfo {
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
    margin-right: 12px;
  }
  a.item .article.normal .headline {
    font-size: 16px;
  }
  a.item .article.normal .subtitle {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.4);
    padding-top: 6px;
  }
  .otherposts .col-md-6:first-child .normal {
    border-top: none;
  }
  #likecoinarea {
    font-size: 14px;
  }
  #tags .posts .post {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  #tags .posts .post .featimg {
    height: 90px;
    width: 120px;
    margin-left: 8px;
    margin-right: 0px;
    background-size: cover;
    background-position: center;
  }
  #tags .posts .post .postcontent .title {
    font-size: 16px;
  }
  #tags .posts .post .postcontent .subtitle {
    font-size: 14px;
  }
  #tags .tagmeta {
    text-align: left;
    margin-bottom: 32px;
    margin-top: 16px;
  }
  #tags .tagmeta .tagdescription {
    margin-top: 6px;
  }
}

.darkscheme {
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  background-color: #181f20;
  color: white;
}

.darkscheme .head .blogname {
  color: white;
}

.darkscheme .head nav .item a {
  color: rgba(255, 255, 255, 0.3);
}

.darkscheme .head nav .item a:hover {
  color: rgba(255, 255, 255, 0.6);
}

.darkscheme .article.huge .subtitle {
  color: rgba(255, 255, 255, 0.5);
}

.darkscheme .article.huge .main {
  background-color: #181f20;
}

.darkscheme .article.huge .main p {
  color: #c5c5c5;
}

.darkscheme .article.huge .main h2 {
  color: #e2e2e2;
}

.darkscheme .article.huge .main h3 {
  color: #e2e2e2;
}

.darkscheme .article.huge .main h4 {
  color: #e2e2e2;
}

.darkscheme .article.huge .main h5 {
  color: #e2e2e2;
}

.darkscheme .article.huge .main h6 {
  color: #e2e2e2;
}

.darkscheme .article.huge .headline a {
  color: #c8dce0;
}

.darkscheme .article.huge .headline a:hover {
  color: #c8dce0;
}

.darkscheme .article.huge .body a {
  color: #40b4d4;
}

.darkscheme .article.huge .body a:hover {
  color: #40b4d4;
}

.darkscheme .article.huge figure figcaption {
  color: rgba(255, 255, 255, 0.4);
}

.darkscheme .article.huge .time {
  color: rgba(255, 255, 255, 0.4);
}

.darkscheme .article.huge .post blockquote p {
  color: #308396;
}

.darkscheme .article.huge .post .body ul li {
  color: #c5c5c5;
}

.darkscheme .article.huge .post .body ol li {
  color: #c5c5c5;
}

.darkscheme a.item .article.normal .subtitle {
  color: rgba(255, 255, 255, 0.5);
}

.darkscheme a.item .article.normal .headline {
  color: #c8dce0;
}

.darkscheme a.item:hover .article.normal .headline {
  color: #c8dce0;
}

.darkscheme .pagenavi .item {
  color: rgba(255, 255, 255, 0.2);
}

.darkscheme .pagenavi .item a {
  color: rgba(255, 255, 255, 0.3);
}

.darkscheme .pagenavi .item a:hover {
  color: rgba(255, 255, 255, 0.6);
}

.darkscheme hr {
  border: 0.5px solid rgba(255, 255, 255, 0.4);
}

.darkscheme .article .post hr {
  border: 0.5px solid rgba(255, 255, 255, 0.2);
}

.darkscheme .footer .slogan {
  color: rgba(255, 255, 255, 0.6);
}

.darkscheme .footer .meta {
  color: rgba(255, 255, 255, 0.45);
}

.darkscheme .footer a {
  color: rgba(255, 255, 255, 0.45);
}

.darkscheme #likecoinarea a {
  color: rgba(255, 255, 255, 0.4);
  text-decoration: underline;
}

.darkscheme #likecoinarea a:hover {
  color: rgba(255, 255, 255, 0.4);
  text-decoration: underline;
}

.darkscheme #page h1.title {
  color: #c8dce0;
}

.darkscheme #page a {
  color: #c8dce0;
}

.darkscheme #page a:hover {
  color: #c8dce0;
}

@media (max-width: 767.98px) {
  .darkscheme .article.normal {
    border-top: 0.5px solid rgba(255, 255, 255, 0.06);
  }
}
/*# sourceMappingURL=style.css.map */